 
 /* Montserrat and monospace font style */

 body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(235, 11%, 23%) ;
  color:  #f8f8f2;
  padding: 0;
  margin: 0;
}

code, pre {
  font-family: 'Fira Code', monospace;
  background-color: #1e1e1e; /* Dark background for code */
  color: rgb(31, 214, 31); /* Bright green text for contrast */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Enables horizontal scrolling for long code */
  white-space: pre-wrap; /* Allows wrapping in small screens */
  word-wrap: break-word; /* Breaks long words if needed */
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}

 
strong{
  color: cyan;
}
